/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Karla:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Karla:wght@700&display=swap");

/* Global Variables */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Karla", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* App container */
.app--container {
    width: 640px;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

/* Header component */
.header {
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;
    padding: 20px;
    background: linear-gradient(90deg, rgb(103,34,128), rgb(166,38,211));
    color: rgb(255, 255, 255);
}

.header--logo {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--text {
    font-family: "Intel", sans-serif;
    font-weight: lighter;
    font-size: .75rem;
}

/* Meme component */
main {
    padding: 36px;
}

.meme--form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    margin-bottom: 17px;
}

.meme--inputs {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #d5d4d8;
    text-indent: 5px;
}

.meme--button {
    grid-column: span 2;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(103,34,128), rgb(166,38,211));
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

.meme {
    position: relative;
}

.meme--image {
    max-width: 100%;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}